/* ------------------------------------------------------ */
/* || --------------- START "ПЕРЕМЕННЫЕ" ---------------- */
/* ------------------------------------------------------ */
:root {
  --body-sans-serif: Roboto, sans-serif;
  --logo-sans-serif: "Raleway", sans-serif;

  /* || ----------------- START "ПАЛИТРА" ----------------- */
  --color-bg-skip-to-content: #bf1722;
  --color-text-primary: #212121; /* Основной цвет текста #212121 (nav-link, h2, h3, filters-btn) */
  --color-text-secondary: #757575; /* Вторичный цвет текста #757575 */
  --color-accent: #2196f3; /* Акцент #2196F3 */
  --color-hero-btn-hover: #188ce8; /* Цвет Кнопки-героя при фокусе */
  --color-bg-hero: #2f303a;
  --color-bg-section-grey: #f5f4fa;
  --color-bg-project-card: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-header-decoration-line: #ececec;
  --color-icon: #afb1b8;
  --color-bg-icon-footer: rgba(255, 255, 255, 0.1);

  /* Тень Главной кнопки (статическая) и Вторичной кнопки (динамическая - по наведению/при фокусе) */
  --box-shadow-filter-btn: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);

  /* Тень Карточки дизайнера (статическая) - material shadow v1 */
  --box-shadow-designer-card: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);

  --box-shadow-hero-btn: 0 4px 4px rgba(0, 0, 0, 0.15); /* Тень Кнопки-героя (статическая) */

  --color-footer-contacts: rgba(255, 255, 255, 0.6);
  /* || ------------------ END "ПАЛИТРА" ------------------ */

  /* || ------------- START "ОТСТУПЫ СТУДИИ" -------------- */
  --max-width-container: 1200px; /* Макс. ширина контейнера */
  --padding-container: 0 15px; /* Отдаляет текст от границы экрана */
  --min-width-activity-image: 370px;
  --uni-margin: 30px; /* Универсальное значение высоты и отступов */
  --flex-margins-top-and-left: var(--uni-margin) 0 0 var(--uni-margin);

  /* Хедер-Лого */
  --margin-right-logo-container: 93px; /* Правый отступ между Лого и навигацией */

  /* Хедер-"Главная навигация", Хедер-Контакты, Герой */
  /* Правый отступ между ссылками Главной навигации */
  /* Правый отступ между ссылками Контактов */
  /* Нижний отступ между заголовком h2 и секциями "Чем мы занимаемся" и "Наша команда" */
  /* Нижний отступ между Фильтрами-кнопками и карточками Проектов */
  --universal--margin-large: 50px;

  /* Футер-Адрес, Футер-Соц-ссылки */
  /* Верхний отступ между адресом и Лого */
  /* Левый отступ между контейнерами ссылок на соц. сети и адресом */
  --universal--margin-small: 20px;

  /* "Наша команда"-"Карточки Дизайнеров", Особенности */
  /* Нижний отступ между именем и ролью дизайнера */
  /* Нижний отступ между Оглавлением h3 и параграфом */
  --universal--margin-minimum: 10px;

  /* Постоянные клиенты */
  --cards-per-line-big: 6;

  /* Особенности, "Наша команда"-"Карточки Дизайнеров" */
  /* Кол-во карточек Особенностей на одной линии. */
  /* Кол-во карточек Дизайнеров на одной линии. */
  --cards-per-line-medium: 4;

  /* "Чем мы занимаемся", Портфолио-"Карточки Проектов" */
  /* Кол-во карточек Активностей на одной линии. */
  /* Количество карточек Проектов на одной линии во флекс-сетке. */
  --cards-per-line-small: 3;

  /* Футер-Адрес */
  --margin-bottom-footer-address-list-item: 9px; /* Нижний отступ между ссылками в адресе */

  /* Футер-Соц-ссылки */
  --margin-right-footer-social-list-item: 21px; /* Правый отступ между ссылками на соц. сети */
  /* || -------------- END "ОТСТУПЫ СТУДИИ" --------------- */

  /* || ------------ START "ОТСТУПЫ ПОРТФОЛИО" ------------ */
  /* Портфолио-Фильтры-кнопки */
  --margin-top-portfolio-filter: 15px; /* Верхний отступ между фильтрами-кнопками */
  --margin-left-portfolio-filter: 8px; /* Левый отступ между фильтрами-кнопками */

  /* Макс. ширина карточки Проектов */
  --flex-basis-portfolio-card: calc(100% / var(--cards-per-line-small) - var(--uni-margin));

  /* Постоянные клиенты */
  --flex-basis-client-card: calc(100% / var(--cards-per-line-big) - var(--uni-margin));
  /* || ------------- END "ОТСТУПЫ ПОРТФОЛИО" ------------- */
}
/* ------------------------------------------------------ */
/* || ---------------- END "ПЕРЕМЕННЫЕ" ----------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "ОБЩИЕ НАСТРОЙКИ" ------------- */
/* ------------------------------------------------------ */

/* START "Обнуление" */
body,
h1,
h2,
h3,
p,
ul,
li,
.links,
.btn {
  padding: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* END "Обнуление" */

/* Главная */
body .💪 {
  display: flex;
}

body {
  font-family: var(--body-sans-serif);
  color: var(--color-text-primary);
  letter-spacing: 0.03em;
  background-color: var(--color-white);
}

.skip-to-content > .skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 100;

  padding: 6px;

  color: var(--color-white);
  background-color: var(--color-bg-skip-to-content);

  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  border-bottom-right-radius: 8px;

  -webkit-transition: top 1s ease-out;
  -moz-transition: top 1s ease-out;
  -o-transition: top 1s ease-out;
  transition: top 1s ease-out;
}

.skip-to-content > .skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;

  outline-color: transparent;

  -webkit-transition: top 0.1s ease-in;
  -moz-transition: top 0.1s ease-in;
  -o-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

.container {
  min-width: var(--min-width-activity-image); /* Мин. ширина картинки активности */
  max-width: var(--max-width-container);
  padding: var(--padding-container);
  margin: 0 auto;
}

.section {
  min-width: 370px;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Чем мы занимаемся, Наша команда */
.section-title {
  margin-bottom: var(--universal--margin-large);

  /* Наследует от body - font-family: Roboto; */
  /* Наследует от браузера - font-weight: 700; font-style: normal; */
  font-size: 36px;
  line-height: 1.17; /* 42px */
  color: var(--color-text-primary); /* Primary text color #212121 */
  text-align: center;
}

.list {
  list-style: none;
}

.image {
  display: block;
}

.links {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* Шаблон кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг" */
.btn {
  display: inline-block;
  min-height: 38px;
  padding: 6px 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 38px = box height */
  letter-spacing: inherit;

  cursor: pointer;

  border: none;
  border-radius: 4px;
}

/* Главная кнопка: фон - акцент,  цвет - белый #ffffff. + тень статическая */
.btn--primary {
  color: var(--color-white); /* Белый #FFFFFF */
  background-color: var(--color-accent); /* Акцент #2196F3 */
  box-shadow: var(--box-shadow-filter-btn); /* shadow-middle */
}

/* Вторичная кнопка: Фон - серый #f5f4fa,  цвет - темный #212121, + тень динамическая по ховеру */
.btn--secondary {
  color: var(--color-text-primary);
  background-color: var(--color-bg-section-grey);
}
/* ------------------------------------------------------ */
/* || -------------- END "ОБЩИЕ НАСТРОЙКИ" -------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- START "ШАПКА САЙТА" --------------- */
/* ------------------------------------------------------ */

/* Структура шапки:
page-header > header-container > header-nav > (logo + nav-menu) ^ +
                               + header-contacts-container > (header-contacts-list) */

.page-header {
  min-width: 370px;
  padding: 24px 0;

  border-bottom: 1px solid var(--color-header-decoration-line); /* Line - Декор линия*/
}

.header-container {
  flex-flow: row wrap;
}

.header-nav {
  flex-flow: row wrap;
}

/*
 *
*/

/* START "Ссылка-логотип WebStudio" */

.logo-container {
  margin-right: var(--margin-right-logo-container);
}

.logo {
  display: inline-flex;
  flex-flow: row nowrap;

  font-family: var(--logo-sans-serif);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 31px = box height */
}

.webstudio {
  min-height: 26px;
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}

/* END "Ссылка-логотип WebStudio" */

/*
 *
*/

/* START "Главная навигация сайта" */
.nav-menu {
  flex-flow: row wrap;
  align-items: center;
  color: var(--color-text-primary);
}

/* .nav-menu-item { } */

.nav-menu-item:not(:last-child) {
  margin-right: var(--universal--margin-large);
}

/* Студия, Портфолио, Контакты, info@devstudio.com, +38 096 111 11 11 */
.nav-link,
.header-contact {
  padding-top: 7px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 16px */
  letter-spacing: 0.02em;
  white-space: nowrap;
}

/* Студия, Портфолио, Контакты */
.nav-link {
  position: relative;
  color: var(--color-text-primary);
}

/* hover */
.nav-link[aria-current="page"]::after {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 21;

  min-width: 100%;
  min-height: 4px;

  content: "";

  background-color: var(--color-accent);
  border-radius: 2px;
}

/* END "Главная навигация сайта" */

/*
 *
*/

/* START "Шапка сайта - Контакты" */
.header-contacts-container {
  margin-left: auto; /* info@devstudio.com, +38 096 111 11 11 */
}

.header-contacts-list {
  flex-flow: row wrap;
  align-items: center;
}

.header-contact-list-item:not(:last-child) {
  margin-right: var(--universal--margin-large);
}

.header-contact {
  flex-flow: row wrap;
  align-items: center;
  color: var(--color-text-secondary);
}

.header-contact-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* END "Шапка сайта - Контакты" */

/*
 *
*/

.sr-only {
  /* В классе "screen readers only" (.sr-only) Для Читалок удалить visibility: hidden; -> и задать элементу (скрытым заголовкам секций) в тег tabindex="0"
  Тогда контент не выделяется табом.  Контент видно, выделяется мышкой. Блок в потоке. */

  /* Do not size content to 0 pixels if you want the content to be read by a screen reader.
  * If content styled with font-size:0px or line-height:0, then the elements would still take horizontal space on the screen.
  * All these techniques may result in search engine penalties as they may be interpreted as malicious. */
  position: absolute !important; /* Small */ /* Вытягивает Блок из потока. Сдвигает все элементы страницы выше на высоту блока. Не влияет на сам контент. */
  top: auto !important;
  left: -10000px !important;
  width: 1px !important; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  height: 1px !important; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  padding: 0 !important; /* small importance */ /* Нет внутренних отступов. Не влияет. */
  margin: -1px !important; /* small importance */ /* Нет внешних отступов. Не влияет. */

  overflow: hidden !important; /* Useful */ /* Обрезает контент если Блочный контейнер имеет высоту\максвысоту, или white-space: nowrap. */
  clip-path: inset(100%); /* Useful */ /* Вырезает контент. Блок в потоке. */
  clip: rect(1px 1px 1px 1px); /* Useful */ /* Старая IE6, IE7, вырезает контент. Блок в потоке. */
  clip: rect(1px, 1px, 1px, 1px); /* Useful */ /* Старая, вырезает контент. Блок в потоке. */

  font-size: 1px !important; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  line-height: 1px !important; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  white-space: nowrap !important; /* small importance */ /* Nowrap - элементы в одной строке не переходят на новую строку. Влияет на overflow. */

  pointer-events: none !important; /* MUST HAVE */ /* Не выделяется мышкой. Контент видно, выделяется табом. Блок в потоке. */

  border: 0 !important; /* small importance */ /* Нет границы. Сжимает внутрь на 1px. Не влияет. */
  outline: none !important; /* small importance */ /* Нет рамки вокруг. Не влияет. */
  outline-offset: 0 !important; /* small importance */ /* Нет сдвига рамки вокруг. Не влияет. */
  opacity: 0 !important; /* only visual effect */ /* Контент прозрачный (не видно, но можно кликать и выделять). Контент и Блок в потоке. */
}

/* START "СКРЫТЫЕ КЛАССЫ"
* "Модальное окно скрыто и недоступно для скрин-ридеров до момента нажатия на кнопку-героя"
*/
.is-hidden {
  /* В классе "screen readers only" (.sr-only) Для Читалок удалить visibility: hidden; -> и задать элементу (скрытым заголовкам секций) в тег tabindex="0"
  Тогда контент не выделяется табом.  Контент видно, выделяется мышкой. Блок в потоке. */

  /* Do not size content to 0 pixels if you want the content to be read by a screen reader.
  * If content styled with font-size:0px or line-height:0, then the elements would still take horizontal space on the screen.
  * All these techniques may result in search engine penalties as they may be interpreted as malicious. */
  position: absolute !important; /* Small */ /* Вытягивает Блок из потока. Сдвигает все элементы страницы выше на высоту блока. Не влияет на сам контент. */
  top: auto !important;
  left: -10000px !important;
  width: 1px !important; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  height: 1px !important; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  padding: 0 !important; /* small importance */ /* Нет внутренних отступов. Не влияет. */
  margin: -1px !important; /* small importance */ /* Нет внешних отступов. Не влияет. */

  overflow: hidden !important; /* Useful */ /* Обрезает контент если Блочный контейнер имеет высоту\максвысоту, или white-space: nowrap. */
  clip-path: inset(100%); /* Useful */ /* Вырезает контент. Блок в потоке. */
  clip: rect(1px 1px 1px 1px); /* Useful */ /* Старая IE6, IE7, вырезает контент. Блок в потоке. */
  clip: rect(1px, 1px, 1px, 1px); /* Useful */ /* Старая, вырезает контент. Блок в потоке. */

  font-size: 1px !important; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  line-height: 1px !important; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  white-space: nowrap !important; /* small importance */ /* Nowrap - элементы в одной строке не переходят на новую строку. Влияет на overflow. */

  pointer-events: none !important; /* MUST HAVE */ /* Не выделяется мышкой. Контент видно, выделяется табом. Блок в потоке. */
  visibility: hidden !important; /* MUST HAVE */ /* НЕ ДОСТУПЕН ДЛЯ ЧИТАЛОК. Не выделяется ни мышкой, ни табом. Контент прозрачный. Блок в потоке. */

  border: 0 !important; /* small importance */ /* Нет границы. Сжимает внутрь на 1px. Не влияет. */
  outline: none !important; /* small importance */ /* Нет рамки вокруг. Не влияет. */
  outline-offset: 0 !important; /* small importance */ /* Нет сдвига рамки вокруг. Не влияет. */
  opacity: 0 !important; /* only visual effect */ /* Контент прозрачный (не видно, но можно кликать и выделять). Контент и Блок в потоке. */
}
/* END "СКРЫТЫЕ КЛАССЫ" */

/* START Подсветка ссылок */
.accent,
[aria-current="page"],
.links:hover,
.links:focus,
.links:active,
.logo:hover .webstudio,
.logo:focus .webstudio,
.logo:active .webstudio {
  color: var(--color-accent); /* Акцент #2196F3 */
}
/* END Подсветка ссылок */
/* ------------------------------------------------------ */
/* || ---------------- END "ШАПКА САЙТА" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------------ START "ГЕРОЙ" ------------------ */
/* ------------------------------------------------------ */
main > .hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-color: var(--color-bg-hero); /* 2F303A */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/squooshed/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

/* Эффективные решения для вашего бизнеса */
.hero-title-container {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 696px;
  min-height: 120px;
  margin-bottom: var(--uni-margin); /* Нижний отступ между Заголовком h1 и Кнопкой-Героем */
}

.hero-title-br {
  display: block;
  padding: 10px 0;
}

/* Эффективные решения для вашего бизнеса */
.hero-title-container > .hero-title {
  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; */
  font-size: clamp(1.2em, 5.6vw, 44px);
  font-weight: 900;
  line-height: 1.36; /* 60px */
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* START Hero-Button */

/* Заказать услугу */
.hero-container > .hero-btn {
  min-width: 200px;
  min-height: 50px;

  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; font-size: 16px; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* = box height 30px, or 187% */
  letter-spacing: 0.06em;
  white-space: nowrap;

  border-radius: 4px;
  box-shadow: var(--box-shadow-hero-btn); /* Тень для Кнопки-героя (статическая) */
}

/* Hero-Button (Hover) */
.hero-container > .hero-btn:focus,
.hero-container > .hero-btn:hover,
.hero-container > .hero-btn:active {
  background-color: var(--color-hero-btn-hover); /* #188ce8 */
}

/* END Hero-Button */

/* ------------------------------------------------------ */
/* || ------------------- END "ГЕРОЙ" ------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- START "ОСОБЕННОСТИ" --------------- */
/* ------------------------------------------------------ */
main > .features {
  padding-bottom: 47px;
}

/* Особенности */
/* .features-container { } */

.features-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

.feature-list-item {
  flex-basis: calc(100% / var(--cards-per-line-medium) - var(--uni-margin));
  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

.features-items-wrapper {
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;

  background: var(--color-bg-section-grey);
  border-radius: 4px;
}

/* Внимание к деталям, Пунктуальность, Планирование, Современные технологии */
.feature-heading {
  margin-bottom: var(--universal--margin-minimum);

  font-size: 14px;
  line-height: 1.15; /* 16px */
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.feature-paragraph {
  min-width: 270px;
  min-height: 75px;
}

/* В параграфе ".feature-paragraph" и в ".footer-contacts" - одинаковый шрифт, разный цвет */

/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.secondary-text-font {
  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; font-weight: 400; */
  font-size: 14px;
  line-height: 1.71; /* 24px */
  color: var(--color-text-secondary);
}
/* ------------------------------------------------------ */
/* || ---------------- END "ОСОБЕННОСТИ" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------ START "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------ */
/* ------------------------------------------------------ */
/* .activities { } */
/* .activities-container { } */

main > .activities {
  padding-top: 47px;
}

/* .activities-title { } */

.activities-list {
  flex-flow: row wrap;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

.activity-list-item {
  position: relative;

  flex-basis: calc(100% / var(--cards-per-line-small) - var(--uni-margin));
  justify-content: center;

  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

/* Десктопные приложения, Мобильные приложения, Дизайнерские решения */
.activity-list-label {
  position: absolute; /* label */
  bottom: 0;
  width: 100%;

  padding: 27px 0;

  /* Наследует от body - font-family: Roboto; letter-spacing: 0.03em; */
  /* Наследует от браузера - font-style: normal; */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ------------------------------------------------------ */
/* || ------------- END "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "НАША КОМАНДА" ---------------- */
/* ------------------------------------------------------ */
.designers {
  background-color: var(--color-bg-section-grey);
}

/* .designers-container { } */
/* .designers-title { } */

/* team */
.designers-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

/* team card 1-4 or "designer card" */
.designer-list-item {
  flex-basis: calc(100% / var(--cards-per-line-medium) - var(--uni-margin));
  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

.designer-card {
  background-color: var(--color-white); /* card bg */
  border-radius: 0 0 4px 4px;
  /* Тень для Карточки дизайнера (статическая) - material shadow v1 */
  box-shadow: var(--box-shadow-designer-card);
}

.designer-card-title {
  padding: var(--uni-margin); /* Паддинги между именем/ролью дизайнера и их контейнером */
}

.designer-name {
  min-height: 19px;
  margin-bottom: var(--universal--margin-minimum);
}

/* Designer-name - Игорь Демьяненко, Ольга Репина, Николай Тарасов, Михаил Ермаков */
.primary-text-font {
  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19; /* 19px = to box height */
  color: var(--color-text-primary);
  text-align: center;
}

/* Product Designer */
.designer-role {
  min-height: 19px;
  margin-bottom: 16px;

  /* Наследует от body font-family: Roboto; */
  /* Наследует от браузера font-size: 16px; font-style: normal; font-weight: 400; */
  line-height: 1.19; /* identical to box height 19px */
  color: var(--color-text-secondary); /* Secondary text color #757575 */
  text-align: center;
}

.designer-cards-social-list {
  justify-content: center;
}

.designer-card-social-item {
  width: 44px;
  height: 44px;
}
.designer-card-social-item:not(:last-child) {
  margin-right: 10px;
}

.designer-card-social-link {
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.designer-card-social-link:focus,
.designer-card-social-link:hover {
  background-color: var(--color-accent);
}

.designer-contact-icon {
  fill: var(--color-icon);
}

.designer-card-social-link:hover .designer-contact-icon,
.designer-card-social-link:focus .designer-contact-icon {
  fill: var(--color-white);
}

/* ------------------------------------------------------ */
/* || --------------- END "НАША КОМАНДА" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ---------------- START "КЛИЕНТЫ" ------------------ */
/* ------------------------------------------------------ */
.clients-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin)); /* 30px top left */
  margin-left: calc(-1 * var(--uni-margin));
}

.clients-item {
  flex-basis: var(--flex-basis-client-card); /* 6 cards */
  height: 92px;
  margin: var(--flex-margins-top-and-left); /* 30px top left */
}

.clients-link {
  align-items: center;
  justify-content: center;
  min-height: 100%;

  border: 1px solid var(--color-icon);
  border-radius: 4px;
}

.clients-icon {
  fill: var(--color-icon);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--color-accent);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--color-accent);
}

/* ------------------------------------------------------ */
/* || ----------------- END "КЛИЕНТЫ" ------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || -------------- START "ПОДВАЛ САЙТА" --------------- */
/* ------------------------------------------------------ */
.page-footer {
  min-width: 370px;
  padding: 60px 0;
  background-color: var(--color-bg-hero);
}

.footer-container {
  flex-flow: row wrap;
  align-items: baseline;
}

/* .footer-address-wrapper { } */

.footer-address {
  margin-top: var(--universal--margin-small);
  font-style: inherit;
}

/* .footer-address-list { } */
/* .footer-address-list-item { } */

.footer-address-list-item:not(:last-child) {
  margin-bottom: var(--margin-bottom-footer-address-list-item);
}

/* г. Киев, пр-т Леси Украинки, 26, info@example.com, +38 099 111 11 11 */
.footer-map-pointer,
.footer-contacts {
  max-height: 21px;
}

/* г. Киев, пр-т Леси Украинки, 26 */
.footer-map-pointer {
  color: var(--color-white);
}

/* info@example.com, +38 099 111 11 11 */
.footer-contacts {
  color: var(--color-footer-contacts);
}

.footer-social-container {
  margin-left: 70px;
}

.footer-social-title {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  color: var(--color-white);
  text-transform: uppercase;
}

.footer-social-list {
  flex-flow: row wrap;
}

.footer-social-list-item:not(:last-child) {
  margin-right: var(--margin-right-footer-social-list-item);
}

.footer-social-link {
  background-color: var(--color-bg-icon-footer);
}

.footer-social-icon {
  fill: var(--color-white);
}

/* ------------------------------------------------------ */
/* || -------------- END "ПОДВАЛ САЙТА" ----------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------- START "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" -------- */
/* ------------------------------------------------------ */
.portfolio-filters {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-bottom: var(--universal--margin-large);
  white-space: nowrap;
}

.portfolio-filters-list {
  flex-flow: row wrap;
  justify-content: flex-start;

  margin-top: calc(-1 * var(--margin-top-portfolio-filter));
  margin-left: calc(-1 * var(--margin-left-portfolio-filter));
}

.portfolio-filter-list-item {
  margin-top: var(--margin-top-portfolio-filter);
  margin-left: var(--margin-left-portfolio-filter);
}

/* START "Фильтры-Кнопки" - Все, Веб-сайты, Приложения, Дизайн, Маркетинг */

/* Вторичная кнопка по наведению: фон - акцент, текст белый + тень (динамическая) */
.current,
.btn--secondary[aria-current="true"],
.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active {
  color: var(--color-white);
  background-color: var(--color-accent); /* Акцент #2196F3 */
  box-shadow: var(--box-shadow-filter-btn); /* Динамическая тень по наведению - shadow-middle */
}
/* END "Фильтры-Кнопки" */

/* ------------------------------------------------------ */
/* || ------- END "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ---------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --- START "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" -- */
/* ------------------------------------------------------ */
.portfolio-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

/* project 4 */
.portfolio-list-item {
  flex-basis: var(--flex-basis-portfolio-card);
  margin: var(--flex-margins-top-and-left);
  background-color: var(--color-white);
}

.portfolio-project-link {
  display: block;
}

.portfolio-project-link:focus,
.portfolio-project-link:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  padding: 20px 23px 19px 23px;
  border-right: 1px solid var(--color-bg-project-card);
  border-bottom: 1px solid var(--color-bg-project-card);
  border-left: 1px solid var(--color-bg-project-card);
}

/* "Технокряк, Постер New Orlean vs Golden Star, Ресторан Seafood, Проект Prime, Проект Boxes, Inspiration has no Borders, Издание Limited Edition, Проект LAB, Growing Business" */
.portfolio-project-name {
  min-height: calc(6px + var(--uni-margin));
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2; /* = box height, 36px or 200% */
  color: var(--color-text-primary);
  letter-spacing: 0.06em;
  white-space: nowrap;
  /* Наследует от body - font-family: Roboto;
   * Наследует от браузера - font-size: 700px; font-weight: 700; font-style: normal; */
}

/* Тип проекта: Веб-сайт, Дизайн, Приложение, Маркетинг */
.portfolio-project-type {
  min-height: var(--uni-margin);
  font-size: 16px;
  line-height: 1.87; /* 19px */
  color: var(--color-text-secondary);
}

/* ------------------------------------------------------ */
/* || --- END "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" ---- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "СТУДИЯ - ФОРМА" -------------- */
/* ------------------------------------------------------ */

.contact-form {
  min-width: 400px; /* Change me ! */
  padding: 40px; /* Change me ! */
  margin: 0 auto; /* Change me ! */
  margin-top: 21px;
  border: 1px solid #cccccc; /* Change me ! */
}

.contact-form-message {
  padding: 20px; /* Change me ! */
  resize: none;
}

.contact-form-message::placeholder {
  padding: 1px; /* Change me ! */
  color: var(--color-text-secondary);
  text-transform: uppercase;
  background-color: var(--color-white);
}

/* ------------------------------------------------------ */
/* || -------------- END "СТУДИЯ - ФОРМА" --------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ----------------- START "МОДАЛКА" ----------------- */
/* ------------------------------------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 250ms rgba(0, 0, 0, 0.21);
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60vw;
  background-color: var(--color-white);
  border-radius: 21px;
  transform: translate(-50%, -50%);
}

/* .contact-form-head {
  font-size: 14px;
} */

.contact-form {
  position: absolute;
  flex-flow: column nowrap;
}

.modal-form-input {
  width: 40px;
}

.modal-close-btn-container {
  justify-content: flex-end;
  min-width: 100%;
  min-height: fit-content;
  padding-top: 10px;
  padding-right: 40px;
}

.modal-close-btn {
  /* FIXME */
  min-width: 30px; /* FIXME */
  min-height: 30px; /* FIXME */
  padding-right: 15px; /* FIXME */
  text-align: center; /* FIXME */
}

.form-btn-container {
  justify-content: flex-end;
}

.contact-form-btn {
  margin-right: 5px;
}
/* ------------------------------------------------------ */
/* || ------------------ END "МОДАЛКА" ------------------ */
/* ------------------------------------------------------ */

/* Позиционирование */
/* ...; */
/* Блочная модель */
/* ...; */
/* Типографика */
/* ...;  */
/* Отображение */
/* ...; */
/* Прочее */
/* ...; */

/* .project-stats-languages {
  --homework-name: "hw-03-flexbox";
  --date: "2021-Jun-15 18:55";
  --CSS: 53.4%;
  --HTML: 46.0%;
  --JavaScript: 0.6%;
  --file-lines-css: 1002;
} */
