/* ------------------------------------------------------ */
/* || --------------- START "ПЕРЕМЕННЫЕ" ---------------- */
/* ------------------------------------------------------ */

:root {
  /* || ----------------- START "ПАЛИТРА" ----------------- */
  --color-text-primary: #212121; /* Основной текст #212121 (nav, h2, h3, filters-btn) */
  --color-text-secondary: #757575; /* Вторичный цвет текста #757575 */
  --color-accent: #2196f3; /* Акцент #2196F3, "Web" в Лого */
  --color-bg-hero: #2f303a;
  --color-bg-secondary: #f5f4fa;
  --color-bg-project-card: #eeeeee;
  --color-white: #ffffff; /* h1, portfolio-name& */
  --color-icon: #afb1b8;
  /* || ------------------ END "ПАЛИТРА" ------------------ */

  /* || ----------------- START "ОТСТУПЫ" ----------------- */
  --uni-margin: 30px; /* Универсальное значение высоты и отступов, нижний отступ у H1 */

  /* Правый отступ между ссылками Главной навигации в Хедере */
  /* Правый отступ между ссылками Контактов в Хедере */
  /* Нижний отступ между заголовком h2 и секциями "Чем мы занимаемся" и "Наша команда" */
  /* Нижний отступ между Фильтрами-кнопками и карточками Проектов */
  --uni-margin-big: 50px;

  /* Верхний отступ между адресом и Лого в Футере */
  /* Левый отступ между контейнерами ссылок на соц. сети и адресом в Футере */
  --uni-margin-small: 20px;

  /* Нижний отступ между именем и ролью дизайнера */
  /* Нижний отступ между оглавлением (h3) и параграфом Особенностей */
  --uni-margin-min: 10px;

  /* Постоянные клиенты */
  --cards-per-line-6: 6;

  /* Кол-во карточек Особенностей на одной линии. */
  /* Кол-во карточек Дизайнеров на одной линии. */
  --cards-per-line-4: 4;

  /* Кол-во карточек Активностей на одной линии. */
  /* Количество карточек Проектов на одной линии во флекс-сетке. */
  --cards-per-line-3: 3;

  --max-height-project-title: 110px;
  /* || ------------------ END "ОТСТУПЫ" ------------------ */

  /* || ---------------- START "АНИМАЦИЯ" ----------------- */
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* || ----------------- END "АНИМАЦИЯ" ------------------ */
}
/* ------------------------------------------------------ */
/* || ---------------- END "ПЕРЕМЕННЫЕ" ----------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "ОБЩИЕ НАСТРОЙКИ" ------------- */
/* ------------------------------------------------------ */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* START "Обнуление" */
body,
h1,
h2,
h3,
p,
ul,
li,
.links,
.btn {
  padding: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* END "Обнуление" */

/* Главная */

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71; /* h24px */
  color: var(--color-text-primary); /* #212121 */
  letter-spacing: 0.03em;

  background-color: var(--color-white);
}

body .💪 {
  display: flex;
}

.skip-to-content > .skip-link {
  position: absolute;
  top: -43px;
  left: 0;
  z-index: 100;

  padding: 6px;

  color: var(--color-white);
  background-color: #bf1722;

  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  border-bottom-right-radius: 8px;

  -webkit-transition: top var(--duration) var(--timing-function);
  -moz-transition: top var(--duration) var(--timing-function);
  -o-transition: top var(--duration) var(--timing-function);
  transition: top var(--duration) var(--timing-function);
}

.skip-to-content > .skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;

  outline-color: transparent;
}

.container {
  min-width: 290px; /* Мин. шир. контейнера */
  max-width: 1200px; /* Макс. ширина контейнера */
  padding: 0 15px; /* Отдаляет от границы экрана */
  margin: 0 auto; /* Центрирует по ширине */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2n + 4) {
  background-color: var(--color-bg-secondary);
}

/* Чем мы занимаемся, Наша команда, Постоянные клиенты h42px */
.section-title {
  margin-bottom: var(--uni-margin-big);
  font-size: 36px;
  line-height: 1.17; /* 42.19px */
  text-align: center; /* from body color: #212121; from h2 = font-weight: 700; */
}

.list {
  list-style: none;
}

.image {
  display: block;
}

.links {
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition: color var(--duration) var(--timing-function);
}

/* Шаблон кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг", h26px */
.btn {
  display: inline-block;

  min-height: 38px;
  padding-right: 22px;
  padding-left: 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 2.38; /* 38px = Increased LH from 26px to box */
  letter-spacing: inherit;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  /* Inherits color: #212121; and background-color: #f5f4fa; in normal state and color: #ffffff; and background-color: #2196f3; Hover Focus from .btn--secondary */
}

/* Главная кнопка: фон - акцент,  цвет - белый #ffffff. + тень статическая */
.btn--primary {
  color: var(--color-white); /* Белый #FFFFFF */
  background-color: var(--color-accent); /* Акцент #2196F3 */
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12); /* Тень Главной кнопки (статическая) shadow-middle */
}

/* Вторичная кнопка: Фон - серый #f5f4fa,  цвет - темный #212121, + тень динамическая по ховеру */
.btn--secondary {
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary); /* Rectangle 10 */

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}
/* ------------------------------------------------------ */
/* || -------------- END "ОБЩИЕ НАСТРОЙКИ" -------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- START "ШАПКА САЙТА" --------------- */
/* ------------------------------------------------------ */

.page-header {
  padding: 24px 0;

  border-bottom: 1px solid #ececec; /* Line - Декор линия*/
}

.header-container {
  flex-flow: row wrap;
}

.header-nav {
  flex-flow: row wrap;
}

/*
 *
*/

/* START "Лого-ссылка WebStudio" */
.logo-container {
  margin-right: 93px; /* Правый отступ у Лого */
}

.logo {
  display: inline-flex; /* WebStudio w145px; h31px; */
  flex-flow: row nowrap;

  font-family: "Raleway", sans-serif;
  font-size: 26px; /* Web inherits color: #2196F3; from .accent */
  font-weight: 700; /* Studio inherits color: #000000; from .black */
  line-height: 1.19; /* 31px = box */
}

.webstudio {
  min-height: 26px;

  transition: color var(--duration) var(--timing-function);
}

.white {
  color: var(--color-white);
}

.black {
  color: #000000; /* "Studio" в Лого */
}
/* END "Лого-ссылка WebStudio" */

/*
 *
*/

/* START "Главная навигация сайта" */
.nav-menu {
  flex-flow: row wrap;
  align-items: center;
}

/* .nav-menu-item { } */

.nav-menu-item:not(:last-child) {
  margin-right: var(--uni-margin-big);
}

/* Студия, Портфолио, Контакты, info@devstudio.com, +38 096 111 11 11, h16px */
.nav-link,
.header-contact {
  padding-top: 7px;
  padding-bottom: 8px;

  font-weight: 500;
  line-height: 1.14; /* 16px, color: #2196f3; Hover Focus */
  letter-spacing: 0.02em;

  white-space: nowrap;
}

/* Студия, Портфолио, Контакты */
.nav-link {
  position: relative; /* inherits color: #212121; */
}

/* hover */
.current-link::after,
.nav-link[aria-current="page"]::after {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 21;

  min-width: 100%;
  min-height: 4px;

  content: "";

  background-color: var(--color-accent);
  border-radius: 2px;
}

/* END "Главная навигация сайта" */

/*
 *
*/

/* START "Шапка сайта - Контакты" */
.header-contacts-container {
  margin-left: auto; /* info@devstudio.com, +38 096 111 11 11 */
}

.header-contacts-list {
  flex-flow: row wrap;
  align-items: center;
}

.header-contact-list-item:not(:last-child) {
  margin-right: var(--uni-margin-big);
}

.header-contact {
  flex-flow: row wrap;
  align-items: center;
  color: var(--color-text-secondary);
}

.header-contact-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  margin-top: 2px;
  margin-bottom: 2px;
}
/* END "Шапка сайта - Контакты" */

/*
 *
*/

/* START "СКРЫТЫЕ КЛАССЫ"*/
body .sr-only {
  /* В классе "screen readers only" (.sr-only) Для Читалок удалить visibility: hidden; -> и задать элементу (скрытым заголовкам секций) в тег tabindex="0"
  Тогда контент не выделяется табом.  Контент видно, выделяется мышкой. Блок в потоке. */

  /* Do not size content to 0 pixels if you want the content to be read by a screen reader.
  * If content styled with font-size:0px or line-height:0, then the elements would still take horizontal space on the screen.
  * All these techniques may result in search engine penalties as they may be interpreted as malicious. */
  position: absolute; /* Small */ /* Вытягивает Блок из потока. Сдвигает все элементы страницы выше на высоту блока. Не влияет на сам контент. */
  top: auto;
  left: -10000px;
  width: 1px; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  height: 1px; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  padding: 0; /* small importance */ /* Нет внутренних отступов. Не влияет. */
  margin: -1px; /* small importance */ /* Нет внешних отступов. Не влияет. */

  overflow: hidden; /* Useful */ /* Обрезает контент если Блочный контейнер имеет высоту\максвысоту, или white-space: nowrap. */
  clip-path: inset(100%); /* Useful */ /* Вырезает контент. Блок в потоке. */
  clip: rect(1px 1px 1px 1px); /* Useful */ /* Старая IE6, IE7, вырезает контент. Блок в потоке. */
  clip: rect(1px, 1px, 1px, 1px); /* Useful */ /* Старая, вырезает контент. Блок в потоке. */

  font-size: 1px; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  line-height: 1px; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  white-space: nowrap; /* small importance */ /* Nowrap - элементы в одной строке не переходят на новую строку. Влияет на overflow. */

  pointer-events: none; /* MUST HAVE */ /* Не выделяется мышкой. Контент видно, выделяется табом. Блок в потоке. */

  border: 0; /* small importance */ /* Нет границы. Сжимает внутрь на 1px. Не влияет. */
  outline: none; /* small importance */ /* Нет рамки вокруг. Не влияет. */
  outline-offset: 0; /* small importance */ /* Нет сдвига рамки вокруг. Не влияет. */
  opacity: 0; /* only visual effect */ /* Контент прозрачный (не видно, но можно кликать и выделять). Контент и Блок в потоке. */
}

/* "Модальное окно скрыто и недоступно для скрин-ридеров до момента нажатия на кнопку-героя" */
body .is-hidden {
  /* В классе "screen readers only" (.sr-only) Для Читалок удалить visibility: hidden; -> и задать элементу (скрытым заголовкам секций) в тег tabindex="0"
  Тогда контент не выделяется табом.  Контент видно, выделяется мышкой. Блок в потоке. */

  /* Do not size content to 0 pixels if you want the content to be read by a screen reader.
  * If content styled with font-size:0px or line-height:0, then the elements would still take horizontal space on the screen.
  * All these techniques may result in search engine penalties as they may be interpreted as malicious. */
  position: absolute; /* Small */ /* Вытягивает Блок из потока. Сдвигает все элементы страницы выше на высоту блока. Не влияет на сам контент. */

  width: 1px; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  height: 1px; /* Useful */ /* Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  padding: 0; /* small importance */ /* Нет внутренних отступов. Не влияет. */
  margin: -1px; /* small importance */ /* Нет внешних отступов. Не влияет. */

  overflow: hidden; /* Useful */ /* Обрезает контент если Блочный контейнер имеет высоту\максвысоту, или white-space: nowrap. */
  clip-path: inset(100%); /* Useful */ /* Вырезает контент. Блок в потоке. */
  clip: rect(1px 1px 1px 1px); /* Useful */ /* Старая IE6, IE7, вырезает контент. Блок в потоке. */
  clip: rect(1px, 1px, 1px, 1px); /* Useful */ /* Старая, вырезает контент. Блок в потоке. */

  font-size: 1px; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  line-height: 1px; /* Useful */ /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  white-space: nowrap; /* small importance */ /* Nowrap - элементы в одной строке не переходят на новую строку. Влияет на overflow. */

  pointer-events: none; /* MUST HAVE */ /* Не выделяется мышкой. Контент видно, выделяется табом. Блок в потоке. */
  visibility: hidden; /* MUST HAVE */ /* НЕ ДОСТУПЕН ДЛЯ ЧИТАЛОК. Не выделяется ни мышкой, ни табом. Контент прозрачный. Блок в потоке. */

  border: 0; /* small importance */ /* Нет границы. Сжимает внутрь на 1px. Не влияет. */
  outline: none; /* small importance */ /* Нет рамки вокруг. Не влияет. */
  outline-offset: 0; /* small importance */ /* Нет сдвига рамки вокруг. Не влияет. */
  opacity: 0; /* only visual effect */ /* Контент прозрачный (не видно, но можно кликать и выделять). Контент и Блок в потоке. */

  transition: visibility var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function); /* FIXME smooth fade */
}
/* END "СКРЫТЫЕ КЛАССЫ" */

/* START Подсветка ссылок */
.accent,
.current-link,
[aria-current="page"],
.links:hover,
.links:focus,
.links:active,
.logo:hover .webstudio,
.logo:focus .webstudio,
.logo:active .webstudio {
  color: var(--color-accent); /* Акцент #2196F3 */

  transition: color var(--duration) var(--timing-function);
}
/* END Подсветка ссылок */
/* ------------------------------------------------------ */
/* || ---------------- END "ШАПКА САЙТА" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------------ START "ГЕРОЙ" ------------------ */
/* ------------------------------------------------------ */
main > .hero {
  max-width: 1600px;

  padding: 200px 0;
  margin: 0 auto;
  text-align: center;

  background-color: var(--color-bg-hero); /* 2F303A */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/squooshed/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  min-height: 200px;
}

.hero-title-br {
  display: block;
  padding: 10px 0;
}

/* Эффективные решения для вашего бизнеса */
.hero-container > .hero-title {
  min-height: 120px;

  margin-bottom: var(--uni-margin);

  font-size: clamp(1.2em, 5.6vw, 44px);
  font-weight: 900; /* body: Roboto; браузера: font-style: normal; */
  line-height: 1.36; /* 60px */
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* START Hero-Button */

/* Заказать услугу h30px */
.hero-container > .hero-btn {
  min-width: 200px;
  min-height: 50px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 30px = box */
  letter-spacing: 0.06em;
  white-space: nowrap; /* in normal state from btn--primary - bg background-color: #2196f3; */

  border-radius: 4px; /* from btn--primary color: #ffffff; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15); /* Тень для Кнопки-героя (статическая) */

  transition: background-color var(--duration) var(--timing-function);
}

/* Hero-Button (Hover) */
.hero-container > .hero-btn:focus,
.hero-container > .hero-btn:hover,
.hero-container > .hero-btn:active {
  background-color: #188ce8; /* Цвет Кнопки-героя при фокусе #188ce8 */
}

/* END Hero-Button */

/* ------------------------------------------------------ */
/* || ------------------- END "ГЕРОЙ" ------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- START "ОСОБЕННОСТИ" --------------- */
/* ------------------------------------------------------ */
main > .features {
  padding-bottom: 47px;
}

/* Особенности */ /* .features-container { } */
.features-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

.feature-list-item {
  flex-basis: calc(100% / var(--cards-per-line-4) - var(--uni-margin));
  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

.features-items-wrapper {
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;

  background: var(--color-bg-secondary);
  border-radius: 4px;
}

/* Внимание к деталям, Пунктуальность, Планирование, Современные технологии, h16.41px */
.feature-heading {
  margin-bottom: var(--uni-margin-min);

  font-size: inherit; /* from body font-size: 14px; color: #212121; */
  line-height: 1.17; /* from h3 font-weight: 700; */
  text-transform: uppercase;
}

/*Идейные соображения, а также начало повседневной работы по формированию позиции.
Задача организации, в особенности же рамки и место обучения кадров влечет за собой.
Равным образом консультация с широким активом в значительной степени обуславливает.
Значимость этих проблем настолько очевидна, что реализация плановых заданий. w270px, h75px */
.feature-paragraph {
  min-width: 270px;
  min-height: 75px;

  color: var(--color-text-secondary); /* #757575 */ /* from browser font-weight: 400; */
}

/* ------------------------------------------------------ */
/* || ---------------- END "ОСОБЕННОСТИ" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------ START "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------ */
/* ------------------------------------------------------ */
/* .activities { } */
/* .activities-container { } */

main > .activities {
  padding-top: 47px;
}

/* .activities-title { } */

.activities-list {
  flex-flow: row wrap;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

.activity-list-item {
  position: relative;

  flex-basis: calc(100% / var(--cards-per-line-3) - var(--uni-margin));
  justify-content: center;

  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

/* Десктопные приложения, Мобильные приложения, Дизайнерские решения height: 16px; */
.activity-list-label {
  position: absolute; /* label */
  bottom: 0;
  width: 100%;

  padding: 27px clamp(5px, 2vw, 15px);
  font-size: clamp(7px, 2vw, 14px);
  font-weight: 700;
  line-height: 1.17;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

/* ------------------------------------------------------ */
/* || ------------- END "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "НАША КОМАНДА" ---------------- */
/* ------------------------------------------------------ */
.designers {
  background-color: var(--color-bg-secondary);
}

/* team */ /* .designers-container { } */ /* .designers-title { } */
.designers-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

/* team card 1-4 or "designer card" */
.designer-list-item {
  flex-basis: calc(100% / var(--cards-per-line-4) - var(--uni-margin));
  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

.designer-card {
  background-color: var(--color-white); /* card bg */
  border-radius: 0 0 4px 4px;
  /* Тень для Карточки дизайнера (статическая) - material shadow v1 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
}

.designer-card-title {
  min-width: 160px;
  min-height: 162px;

  padding: var(--uni-margin); /* Паддинги между именем/ролью дизайнера и их контейнером */
}

/* Игорь Демьяненко, Ольга Репина, Николай Тарасов, Михаил Ермаков, h19px */
.designer-name {
  min-height: 19px;
  margin-bottom: var(--uni-margin-min);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19; /* 19px = box */
  text-align: center; /* inherits color: #212121; */
}

/* Product Designer, Frontend Developer, Marketing, UI Designer, h19px */
.designer-role {
  min-height: 19px;

  margin-bottom: 16px;

  font-size: 16px; /* from browser font-weight: 400; */
  line-height: 1.19; /* 19px = box */
  color: var(--color-text-secondary); /* color: #757575; */
  text-align: center;
}

/* START "Ссылки на соц. сети" */

.social-list {
  justify-content: center;
}

.social-item {
  width: 44px; /* social-item - container for social-link */
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  transition: background-color var(--duration) var(--timing-function);
}

.social-link:focus,
.social-link:hover {
  background-color: var(--color-accent);
}

.social-icon {
  fill: var(--color-icon);

  transition: fill var(--duration) var(--timing-function);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--color-white);
}
/* END "Ссылки на соц. сети" */
/* ------------------------------------------------------ */
/* || --------------- END "НАША КОМАНДА" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ---------------- START "КЛИЕНТЫ" ------------------ */
/* ------------------------------------------------------ */

/* Постоянные клиенты */
.clients-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin)); /* 30px top left */
  margin-left: calc(-1 * var(--uni-margin));
}

.clients-item {
  /*  Ширина карточки Постоянные клиенты */
  flex-basis: calc(100% / var(--cards-per-line-6) - var(--uni-margin)); /* 6 cards */

  height: 92px;
  margin: var(--uni-margin) 0 0 var(--uni-margin); /* 30px top and left */
}

.clients-link {
  align-items: center;
  justify-content: center;
  min-height: 100%;

  border: 1px solid var(--color-icon);
  border-radius: 4px;

  transition: border-color var(--duration) var(--timing-function);
}

.clients-icon {
  fill: var(--color-icon);

  transition: fill var(--duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--color-accent);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--color-accent);
}
/* ------------------------------------------------------ */
/* || ----------------- END "КЛИЕНТЫ" ------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || -------------- START "ПОДВАЛ САЙТА" --------------- */
/* ------------------------------------------------------ */
.page-footer {
  padding: 60px 0;
  background-color: var(--color-bg-hero);
}

.footer-container {
  flex-flow: row wrap;
  align-items: baseline;
}

/* START Футер-адрес */ /* .footer-address-wrapper { } */
.footer-address {
  margin-top: var(--uni-margin-small);
  font-style: inherit;
}

/* .footer-address-list { } */
/* .footer-address-list-item { } */

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px; /* Нижний отступ между ссылками в адресе */
}

/* г. Киев, пр-т Леси Украинки, 26; LH24px; */
.footer-map-pointer {
  /* from browser - font-weight: 400; from .footer-address - font-style: normal; */
  color: var(--color-white);
}

/* info@example.com, +38 099 111 11 11, h21px */
.footer-contacts {
  /* from browser - font-weight: 400; from .footer-address - font-style: normal; */
  color: rgba(255, 255, 255, 0.6);
}
/* END Футер-адрес */

/*
 *
*/

/* START "Футер cоц. ссылки" */
.footer-social-container {
  margin-left: 70px;
}

/* присоединяйтесь, h16.41px */
.footer-social-title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.17; /* from body font-size: 14px; */
  color: var(--color-white);
  text-transform: uppercase;
}

.footer-social-list {
  flex-flow: row wrap;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 21px; /* Правый отступ между ссылками на соц. сети */
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: var(--color-white);
}
/* END "Футер cоц. ссылки" */
/* ------------------------------------------------------ */
/* || -------------- END "ПОДВАЛ САЙТА" ----------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------- START "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" -------- */
/* ------------------------------------------------------ */
.portfolio-filters {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-bottom: var(--uni-margin-big);
  white-space: nowrap;
}

.portfolio-filters-list {
  flex-flow: row wrap;
  justify-content: flex-start;

  margin-top: calc(-1 * 15px);
  margin-left: calc(-1 * 8px);
}

.portfolio-filter-list-item {
  margin-top: 15px; /* Верхний отступ между фильтрами-кнопками */
  margin-left: 8px; /* Левый отступ между фильтрами-кнопками */
}

/* START "Фильтры-Кнопки" - Все, Веб-сайты, Приложения, Дизайн, Маркетинг */

/* Вторичная кнопка по наведению: фон - акцент, текст белый + тень (динамическая) */
.current-btn,
.btn--secondary[aria-current="true"],
.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active {
  color: var(--color-white);

  background-color: var(--color-accent); /* Акцент #2196F3 */
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12); /* Динамическая тень по наведению - shadow-middle */
}
/* END "Фильтры-Кнопки" */

/* ------------------------------------------------------ */
/* || ------- END "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ---------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --- START "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" -- */
/* ------------------------------------------------------ */
.portfolio-list {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

/* project 4 */
.portfolio-list-item {
  /* Макс. ширина карточки Проекта */
  flex-basis: calc(100% / var(--cards-per-line-3) - var(--uni-margin));

  margin: var(--uni-margin) 0 0 var(--uni-margin);
}

.portfolio-card {
  background-color: var(--color-white);
}

.portfolio-project-link {
  display: block;

  transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-project-link:focus,
.portfolio-project-link:hover,
.portfolio-project-link:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image-wrapper {
  position: relative;
  overflow: hidden;
}

.project-title {
  max-height: var(--max-height-project-title);

  padding: 20px 23px 19px 23px;
  border-right: 1px solid var(--color-bg-project-card);
  border-bottom: 1px solid var(--color-bg-project-card);
  border-left: 1px solid var(--color-bg-project-card);
}

/* "Технокряк, Постер New Orlean vs Golden Star, Ресторан Seafood, Проект Prime, Проект Boxes, Inspiration has no Borders, Издание Limited Edition, Проект LAB, Growing Business", h36px */
.portfolio-project-name {
  min-height: calc(6px + var(--uni-margin));
  margin-bottom: 4px;

  font-size: 18px; /* от h3 font-weight: 700; */
  line-height: 2; /* 36px = box */
  letter-spacing: 0.06em; /* От body color: #212121; */
  white-space: nowrap;
}

/* Тип проекта: Веб-сайт, Дизайн, Приложение, Маркетинг, h30px */
.portfolio-project-type {
  min-height: var(--uni-margin);
  font-size: 16px; /* from body font-weight: 400; */
  line-height: 1.88; /* 30px = box */
  color: var(--color-text-secondary); /* color: #757575; */
}

/* Description = Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов. */
.portfolio-project-desc {
  position: absolute;
  top: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  pointer-events: none;

  transition: opacity var(--duration) var(--timing-function),
    top var(--duration) var(--timing-function);
}

.portfolio-project-link:focus .portfolio-project-desc,
.portfolio-project-link:hover .portfolio-project-desc,
.portfolio-project-link:active .portfolio-project-desc {
  top: 0;

  opacity: 1;
}

/* ------------------------------------------------------ */
/* || --- END "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" ---- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "СТУДИЯ - ФОРМА" -------------- */
/* ------------------------------------------------------ */
.contact-form {
  min-width: 400px; /* FIXME */
  padding: 40px; /* FIXME */
  margin: 0 auto; /* FIXME */
  margin-top: 21px;
  border: 1px solid #cccccc; /* FIXME */
}

.contact-form-message {
  padding: 20px; /* FIXME */
  resize: none;
}

.contact-form-message::placeholder {
  padding: 1px; /* FIXME */
  color: var(--color-text-secondary);
  text-transform: uppercase;
  background-color: var(--color-white);
}
/* ------------------------------------------------------ */
/* || -------------- END "СТУДИЯ - ФОРМА" --------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "МОДАЛЬНОЕ ОКНО" -------------- */
/* ------------------------------------------------------ */

/* Overlay */

.backdrop {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function); /* FIXME smooth fade */
}

.modal {
  position: absolute;

  max-width: 60vw;

  background-color: var(--color-white);
  border-radius: 21px;
}

/* .contact-form-head {
  font-size: 14px;
} */

.contact-form {
  /* position: absolute; */
  flex-flow: column nowrap;
}

.modal-form-input {
  width: 40px;
}

.modal-close-btn-container {
  justify-content: flex-end;
  min-width: 100%;
  min-height: fit-content;
  padding-top: 10px;
  padding-right: 40px;
}

.modal-close-btn {
  min-width: 30px; /* FIXME */
  min-height: 30px; /* FIXME */
  padding-right: 15px; /* FIXME */
  text-align: center; /* FIXME */
}

.form-btn-container {
  justify-content: flex-end;
}

.contact-form-btn {
  margin-right: 5px;
}
/* ------------------------------------------------------ */
/* || -------------- END "МОДАЛЬНОЕ ОКНО" --------------- */
/* ------------------------------------------------------ */

/* Позиционирование */
/* ...; */
/* Блочная модель */
/* ...; */
/* Типографика */
/* ...;  */
/* Отображение */
/* ...; */
/* Прочее */
/* ...; */

/* .project-stats-languages {
  --homework-name: "hw-03-flexbox";
  --date: "2021-Jun-15 18:55";
  --CSS: 53.4%;
  --HTML: 46.0%;
  --JavaScript: 0.6%;
  --file-lines-css: 1002;
} */
